{% extends 'base.html.twig' %}

{% block title %}Library - Books{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Livres empruntés</h1>
        {% for message in app.flashes('error') %}
            <div class="alert alert-dismissible alert-danger mt-4">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-dismissible alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
        {% if books %}
        
            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Titre</th>
                <th scope="col">Categorie</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr class="table-light">
                        <th scope="row">{{ book.title }}</th>
                        <td>{{ book.formatCategories }}</td>
                        <td><a href="{{ path('book.borrowed', {id: book.id}) }}" class="badge rounded-pill bg-danger">Restituer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        {% else %}
            <p class="text-warning">Vous n'avez emprunté aucun livre !</p> 
        {% endif %}
    </div>
{% endblock %}